body {
	background:#111;
	margin:0;
	color:#fff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1vw;
	height:100%;
	width:100%;
	background-size: cover;
    overflow: hidden;	
}

.header {
	/* height total 4vh */
	position:absolute;
	right:0;
	height:100vh;
	width:18vw;	
	font-size:1.2vw;
	vertical-align:middle;
	background:#333;
	overflow:hidden;
	border-left:1px solid #666;	
	line-height: 2.5vw;
}
.header .version span {
	font-size:75%;
	opacity:0.6;
}
.header .version {
	padding-top:1.4vw;
	
	font-size:3vh;
	text-align:center;
	padding-bottom:1.4vw;
}
.header .connection {
	text-align:center;
	
}

.header .buttonGroup {
	padding:0.5vw 1vw;
}
.header > hr {
	border:none;
	border-top:1px solid #666;	
	
}
.header button {
	font-size:1.2vw;
	background:none;
	border:1px solid #888;
	border-radius:6px;
	color:#bbb;
	width:100%;	
}
.header button.connect[error] {
	background:#833;
}
.header button.connect[connected] {
	background:#383;
	
}

.header button:hover {
	background:none;
	border:1px solid #888;
	border-radius:6px;
	color:#fff;
}

.header button[active] {
	background:#aaa;
	border:1px solid #888;
	border-radius:6px;
	color:#000;
}

.header .buttonGroupHeader {
	text-align:center;
	color:#888;
	font-size:90%;	
}


.header .connection .usbserial {

}
#viewActive {
	width:82vw;
	height:100vh;
	position:absolute;
}

#viewInactive {
	display:none;
}

.componentSection {
	/* height total 24vh */
	height:24vh;
	width:100%;
	overflow-x:none;
	overflow-y: scroll;
}

.componentGauge {
	display:inline-block;
}		

#GaugeView {
	width:100%;
	height:100%;
	text-align: center;
}
#GaugeView .large {
	height:40vh;
	padding-top:5px;
	
}
#GaugeView .medium {
	height:30vh;		
	
}
#GaugeView .small {
	height:20vh;			
}
#GaugeView .io {
	height:10vh;				
}